{% extends 'base.html' %}
{% load static %}
	{% block content %}
	<section id="inner-banner">
		<div class="overlay">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h1>SPONSER A CHILD</h1>
					</div>
					<div class="col-sm-6">
						<h6 class="breadcrumb"><a href="/">Home</a> / Sponser a Child</h6>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section id="about-sec">
		<div class="container">
			<div class="row text-center">
				<div id="owl-demo" class="owl-carousel owl-theme">

					<div class="item">
						<div class="sponser-box">
							<img src="{% static 'images/sponser.jpg' %}" alt="Owl Image">
							<h4>Hi, I’m Ogwang</h4>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">Where I Live</div>
								<div class="col-xs-6">Uganda</div>
							</div>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">My Age</div>
								<div class="col-xs-6">7</div>
							</div>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">My Birthday</div>
								<div class="col-xs-6">1/09/2009</div>
							</div>
							<a href="sponser/" class="btn1">Sponsor me</a>
						</div>
					</div>

					<div class="item">
						<div class="sponser-box">
							<img src="{% static 'images/sponser.jpg' %}" alt="Owl Image">
							<h4>Hi, I’m Ogwang</h4>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">Where I Live</div>
								<div class="col-xs-6">Uganda</div>
							</div>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">My Age</div>
								<div class="col-xs-6">7</div>
							</div>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">My Birthday</div>
								<div class="col-xs-6">1/09/2009</div>
							</div>
							<a href="sponser/" class="btn1">Sponsor me</a>>
						</div>
					</div>

					<div class="item">
						<div class="sponser-box">
							<img src="{% static 'images/sponser.jpg' %}" alt="Owl Image">
							<h4>Hi, I’m Ogwang</h4>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">Where I Live</div>
								<div class="col-xs-6">Uganda</div>
							</div>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">My Age</div>
								<div class="col-xs-6">7</div>
							</div>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">My Birthday</div>
								<div class="col-xs-6">1/09/2009</div>
							</div>
							<a href="sponser/" class="btn1">Sponsor me</a>>
						</div>
					</div>

					<div class="item">
						<div class="sponser-box">
							<img src="{% static 'images/sponser.jpg' %}" alt="Owl Image">
							<h4>Hi, I’m Ogwang</h4>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">Where I Live</div>
								<div class="col-xs-6">Uganda</div>
							</div>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">My Age</div>
								<div class="col-xs-6">7</div>
							</div>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">My Birthday</div>
								<div class="col-xs-6">1/09/2009</div>
							</div>
							<a href="sponser/" class="btn1">Sponsor me</a>>
						</div>
					</div>

					<div class="item">
						<div class="sponser-box">
							<img src="{% static 'images/sponser.jpg' %}" alt="Owl Image">
							<h4>Hi, I’m Ogwang</h4>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">Where I Live</div>
								<div class="col-xs-6">Uganda</div>
							</div>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">My Age</div>
								<div class="col-xs-6">7</div>
							</div>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">My Birthday</div>
								<div class="col-xs-6">1/09/2009</div>
							</div>
							<a href="sponser/" class="btn1">Sponsor me</a>>
						</div>
					</div>

					<div class="item">
						<div class="sponser-box">
							<img src="{% static 'images/sponser.jpg' %}" alt="Owl Image">
							<h4>Hi, I’m Ogwang</h4>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">Where I Live</div>
								<div class="col-xs-6">Uganda</div>
							</div>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">My Age</div>
								<div class="col-xs-6">7</div>
							</div>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">My Birthday</div>
								<div class="col-xs-6">1/09/2009</div>
							</div>
							<a href="sponser/" class="btn1">Sponsor me</a>>
						</div>
					</div>

					<div class="item">
						<div class="sponser-box">
							<img src="{% static 'images/sponser.jpg' %}" alt="Owl Image">
							<h4>Hi, I’m Ogwang</h4>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">Where I Live</div>
								<div class="col-xs-6">Uganda</div>
							</div>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">My Age</div>
								<div class="col-xs-6">7</div>
							</div>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">My Birthday</div>
								<div class="col-xs-6">1/09/2009</div>
							</div>
							<a href="sponser/" class="btn1">Sponsor me</a>>
						</div>
					</div>

					<div class="item">
						<div class="sponser-box">
							<img src="{% static 'images/sponser.jpg' %}" alt="Owl Image">
							<h4>Hi, I’m Ogwang</h4>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">Where I Live</div>
								<div class="col-xs-6">Uganda</div>
							</div>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">My Age</div>
								<div class="col-xs-6">7</div>
							</div>
							<div class="spon-bdr clearfix">
								<div class="col-xs-6">My Birthday</div>
								<div class="col-xs-6">1/09/2009</div>
							</div>
							<a href="sponser/" class="btn1">Sponsor me</a>>
						</div>
					</div>

				</div>

			</div>
		</div>
	</section>

	<section id="activities-sec">
		<div class="container">
			<div class="row text-center">
				<h1>WHAT WE DO?</h1>
				<hr>
				<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua.</h5>
				<div class="text-left">
					<div class="col-md-4 clearfix top-off">
						<div class="grid-content-left"><i class="fa fa-heart"></i></div>
						<div class="grid-content-wrapper">
							<h4>Charity for Education</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut efficitur eget justo quis
								dignissim.</p>
							<a href="activities/" title="">Read More</a>
						</div>
					</div>
					<div class="col-md-4 clearfix top-off">
						<div class="grid-content-left"><i class="fa fa-cutlery"></i></div>
						<div class="grid-content-wrapper">
							<h4>Feed for Hungry Child</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut efficitur eget justo quis
								dignissim.</p>
							<a href="activities/" title="">Read More</a>
						</div>
					</div>
					<div class="col-md-4 clearfix top-off">
						<div class="grid-content-left"><i class="fa fa-home"></i></div>
						<div class="grid-content-wrapper">
							<h4>Home for Homeless</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut efficitur eget justo quis
								dignissim.</p>
							<a href="activities/" title="">Read More</a>
						</div>
					</div>
					<div class="col-md-4 clearfix top-off">
						<div class="grid-content-left"><i class="fa fa-tint"></i></div>
						<div class="grid-content-wrapper">
							<h4>Bringing Clean Water</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut efficitur eget justo quis
								dignissim.</p>
							<a href="activities/" title="">Read More</a>
						</div>
					</div>
					<div class="col-md-4 clearfix top-off">
						<div class="grid-content-left"><i class="fa fa-thumbs-up"></i></div>
						<div class="grid-content-wrapper">
							<h4>Help Little Hands</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut efficitur eget justo quis
								dignissim.</p>
							<a href="activities/" title="">Read More</a>
						</div>
					</div>
					<div class="col-md-4 clearfix top-off">
						<div class="grid-content-left"><i class="fa fa-money"></i></div>
						<div class="grid-content-wrapper">
							<h4>Donate for Children</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut efficitur eget justo quis
								dignissim.</p>
							<a href="activities/" title="">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="video-sec">
		<div class="container">
			<div class="row text-center">
				<h1>How can you help?</h1>
				<hr>
				<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua.</h5>
				<div class="text-left">
					<div class="col-md-6 clearfix top-off">
						<video width="400" controls>
							<source src="{% static 'images/mov_bbb.mp4' %}" type="video/mp4">
						</video>
					</div>
					<div class="col-md-6 clearfix top-off">
						<div class="media">
							<div class="media-image">
								<img src="{% static 'images/g1.png' %}" class="attachment-full size-full" alt="g1"> </div>
							<div class="media-text">
								<h5>BECOME A VOLUNTEER</h5>
								<p>Give us a brief description of the service that you are promoting.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-image">
								<img src="{% static 'images/g2.png' %}" class="attachment-full size-full" alt="g1"> </div>
							<div class="media-text">
								<h5>MAKE A GIFT</h5>
								<p>Give us a brief description of the service that you are promoting.</p>
							</div>
						</div>
						<div class="media">
							<div class="media-image">
								<img src="{% static 'images/g1.png' %}" class="attachment-full size-full" alt="g1"> </div>
							<div class="media-text">
								<h5>GIVE A SCHOLASHIP</h5>
								<p>Give us a brief description of the service that you are promoting.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="callout">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2>Change Their World. Change Yours. This changes everything.</h2><!-- /.callout-title -->
				</div><!-- /.columns large-6 -->

				<div class="col-md-6">
					<div class="callout-actions">
						<a href="contact/" class="button">Become Volunteer</a>

						<span class="callout-separator">
							<span>Or</span>
						</span>

						<a href="donate/" class="button">Donate For Cause</a>
					</div><!-- /.callout-actions -->
				</div><!-- /.columns large-6 -->
			</div><!-- /.row -->
		</div>
	</div>


	<script src="{% static 'js/owl.carousel.js' %}"></script>
	<script src="{% static 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' %}" type="text/javascript"></script>
	<script>
		$(document).ready(function () {

			$("#owl-demo").owlCarousel({

				autoPlay: 5000, //Set AutoPlay to 3 seconds
				navigation: true,
				navigationText: ["", ""],
				items: 4,
				itemsDesktop: [1199, 3],
				itemsDesktopSmall: [979, 3]

			});

		});
	</script>
	<script src="{% static 'js/script.js' %}"></script>

{% endblock content %}